<div *ngIf="tariff" class="tariff-row">
    <span class="tariff-id"><strong>{{tariff.id}}</strong></span>
    <span class="tariff-name">{{tariff.name}}</span>
    <div class="tariff-speed">
        <div class="download-speed">
            <mat-icon>download</mat-icon>
            <div>{{tariff.downloadSpeed | speed}}</div>
        </div>
        <div class="upload-speed">
            <mat-icon>upload</mat-icon>
            <div>{{tariff.uploadSpeed | speed}}</div>
        </div>
    </div>

    <span class="tariff-benefits">{{tariff.benefits| benefits}}</span>
    <span class="tariff-price">{{tariff.price| currency: 'EUR' }}</span>
    <button class="cta-btn" mat-raised-button color="primary" aria-label="Go to Tariff">
        <div class="cta-label">Go to Tariff</div>
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</div>